.text_cp {
    text-align: center;
    font-weight: 700;
}

.col-4 {
    display: grid;
    text-align: center;
}

i {
    font-size: 30px !important;
    color: darkmagenta;
}

.hidden {
    display: none;
}