.mb_header {
    text-align: left;
    padding: 0 4%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 99;
}

.mb_header h1 {
    display: inline-block;
    margin: 0;
}

.bg_header_name {
    font-size: 1.05em;
    font-weight: normal;
    padding: 0;
}

.header_R {
    float: right;
    white-space: nowrap;
    margin-top: -1px;
}

.header_R a {
    color: #fff;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 0.75em;
    padding: 4px 10px;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1.3em;
    min-width: 52px;
    box-sizing: border-box;
    text-align: center;
}

.header_R a + a {
    margin-left: 3px;
}