body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}

.player {
    pointer-events: none;
}

.card-body:hover {
    color: blue;
    cursor: pointer;
}

.card:hover {
    cursor: pointer;
}

.header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #06396a , #5189be, #06396a);
    width: 100%;
}

.body {
    margin-top: 58px;
}

.widget {
    z-index: 1000;
    position: fixed;
    bottom: 6.3rem;
    right: 0;
    background: rgba(0,0,0,0.3);
    width: 90px;
    height: 50px;
    opacity: 0.5;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: azure;
    width: 100%;
    background-image: linear-gradient(to top, darkseagreen 30%, transparent);
    height: 80px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border-top: 0;
    border-bottom: 0;
}